@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-greenCS {
  background-color: #15575B;
}

.text-greenCS{
  color: #15575B;
}

.bg-orangeCS {
  background-color: #F4AA3D;
}

.roundedCS {
  border: #15575B solid 4px;
}

.text-orangeCS{
  color: #EFC828;
}

.font-titania {
  font-family: 'Titania';
}

@font-face {
  font-family: 'Titania';
  src: url('/fonts/titania.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

canvas {
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  height: 100%;
}

#game-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}