@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-greenCS {
  background-color: #15575B;
}

.text-greenCS{
  color: #15575B;
}

.bg-orangeCS {
  background-color: #F4AA3D;
}

.roundedCS {
  border: #15575B solid 4px;
}

.text-orangeCS{
  color: #EFC828;
}