@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
	--font-work-sans: "Work Sans", sans-serif;
}

body {
	font-family: var(--font-work-sans);
}


.bg-greenCS {
  background-color: #15575B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Titania';
  src: url('/fonts/titania.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.bg-greenCS {
  background-color: #15575B;
}

.text-greenCS{
  color: #15575B;
}

.bg-orangeCS {
  background-color: #F4AA3D;
}

.roundedCS {
  border: #15575B solid 4px;
}

.text-orangeCS{
  color: #EFC828;
}

.font-titania {
  font-family: 'Titania';
}
